@import "worklogview.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root{
    --border-color-primary:  rgba(0, 0, 0, .1);
    --table-font-size: 12px;
    --primary-black: #202124;
    --orange-color: rgba(232, 57, 0, 1);
    --light-orange-color: rgba(232 57 0 / 10%);
    --side-nav-width: 48px;
    --x-margin: 24px;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    
}
.layout-chasis{
    display: flex;
    flex-direction: row;
    position: relative;
  }
main{
    width: 100%;
    padding-bottom: 30px;
    margin-left: 49px;
    min-height: 100%;
}
a{
    text-decoration: none;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.width-full{
    width: 100%;
}
.width_fill-available{
    width: -webkit-fill-available;
}
.d-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.position-relative{
    position: relative;
}
.border-rad-4{
    border-radius: 4px;
}
.border-x-none{
    border-right: none;
    border-left: none;
}
.font-weight-500{
    font-weight: 500;
}
.font-weight-700{
    font-weight: 700;
}
h3{
    margin-left: var(--x-margin);
    margin-right: var(--x-margin);
    color: #202124;
}
/* h4{
    color: grey;
} */
.color-777{
    color: #777777;
}
p{
    color: var(--primary-black);
    font-size: 14px;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
.work-logo{
    height: 22px;
}
.work-places-list{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.work-places-list li{
    background-color: #eee;
    padding: 10px 12px;
}
.calc span{
    font-size: var(--table-font-size);
}
.one-liner{
    padding: 4px 0;
}
.my-100{
    margin: 100px 0;
}
.text-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}
.section-title{
    margin: 6px var(--x-margin);
    font-size: 16px;
    line-height: 24px;
}
.margin-x{
    margin: var(--x-margin);
}
/* Responsiveness */

@media only screen and (max-width: 467.98px){
    :root{
        --x-margin: 16px;
    }
    .top-nav{
        padding: 5px 16px;
    }
    .top-nav div.title-box{
        margin-right: 0;
    }
    nav{
        display: none;
    }
    .side-nav{
        display: none;
    }
    main{
        padding: 12px 16px 16px 16px;
        margin-left: 0;
    }
    .responsive-toggle{
        display: none;
    }
}