table{
    /* border: 1px solid rgb(238, 238, 238); */
    border-bottom: none;
    border-collapse: collapse;
    width: 100%;
}
thead{
    border-bottom: 1px solid rgb(238, 238, 238);
}
thead td{
    color: var(--primary-black);
    font-size: var(--table-font-size);
}
tbody{
    font-size: var(--table-font-size);
    overflow-y: scroll;
}
tbody tr{
    /* height: 44px; */
    border: none;
    border-bottom: 1px solid #eee; /*#ecedef*/
}
td{
    /* border: 1px solid rgb(238, 238, 238); */
    padding: 13px 10px;
}
.work-time{
    color: rgba(128, 128, 128, 0.5);
}
.greyed{
    background-color: #f4f4f6;
}
.cancelled{
    background-color: rgba(255, 0, 0, 0.25);
}
.success{
    background-color: rgba(0, 128, 0, 0.25);
}
.premium{
    background-color: goldenrod;
}
.underlined{
    text-decoration: underline dashed;
}
.reminder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}
caption{
    text-align: left;
}
.today{
    background-color: grey;
    padding: 7px 4px;
}
.recurring{
    color: red;
}
.paid{
    color: #390;
}
.unpaid{
    color: #757575;
}
.pay-error{
    color: red;
}
.work-log{
    /* padding-top:38.67px; */
}
.work-log thead tr{
    background-color: rgba(32,33,36,0.049);
}
.work-log tr:not(thead tr):hover{
    background-color: #eaf3ff;
}
.work-log th, .work-log td{
    border: none;
}
.work-log tr:nth-of-type(even){
    /* background-color: #efefef; */
 
}
table p{
    margin: 0;
    font-size: var(--table-font-size)
}
