@import "tables.css";
:root {
    --light-grey-color: #f5f5f5;
}
.title-top{
    margin-top: 12px;
    /* padding: 10px 0 0px;
    background-color: white;
    position: sticky;
    top: 0; */
}
.link-tab-group{
    list-style-type: none;
    background-color: var(--light-grey-color);
    border-radius: 6px;
    margin: 0;
    padding: 0 3px;
    display: flex;
    gap: 0px;
}
.link-tab-group li{
    display: flex;
    align-items: center;
}
.tab-link{
    font-size: 14px;
    padding: 7px 7px;
    /* border: 1px dashed rgba(33,33,33,.9); */
    color: darkgray;
    display: flex;
}
.tab-link.router-link-active{
    background-color: white;
    border-radius: 3px;
}
.add-shift_button-box{
    display: flex;
    column-gap: 12px;
    margin: 0 var(--x-margin);
}
.mt-40{
    margin-top: 40px;
}
.mb-40{
    margin-bottom: 40px;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: end;
}
.filter_button, .add-shift_button{
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 0.25rem;
    padding: 10px 20px;
}
.filter_button{
    /* border: 1px solid rgb(235, 235, 235); */
    /* color: #262626;
    background-color: transparent; */
    background-color: rgb(245 245 245);
    color: grey;
    display: inline-flex;
    gap: 5px;
}
.filter_button:hover{
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.1); */
    transition: all 0.0s;
    -webkit-transition: all 0.0s;
    background-color: #f8f9fa;
    background-image: -webkit-linear-gradient(top,#f8f9fa,#f8f9fa);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f9fa),to(#f8f9fa));
    /* border: 1px solid #dadce0; */
    color: #202124;
}
.text-bold{
    font-weight: bold;
}
.text-end{
    text-align: end;
}
.text-black{
    color: var(--primary-black);
}
.border-none{
    border: none;
}
.border-width-3{
    border-width: 3px;
}

.work-log-list-container{
    margin: 0;
}
/* .work-log-flank-right a{
    color: darkgrey;
} */
.work-shifts-total-box{
    padding-top: 12px;
}
.work-log_form-control_input{
    padding: 0 12px;
    border: 1px solid rgb(238, 238, 238);
}
.date_form-control{
    display: flex;
    gap: 10px;
}
.add-new-date{
    border: 1px solid rgb(235, 235, 235);
    border-radius: 4px;
    padding: 10px 12px;
}
.tithe{
    margin: 30px 0 0;
    padding: 15px 20px 30px;
    background-color: var(--light-grey-color); /* #f4f4f6, #f8f8f8, rgba(0,0,0,.1) */
    color: black;
    border-radius: 4px;
}
.contribution{
    display: flex;
    flex-direction: row;
}
.first-tithe-box, .second-tithe-box{
    margin: 15px 0;
}
.tithe input{
    border: 1px solid black;
    border-radius: 4px;
    background-color: transparent;
    color: black;
    padding: 4px 6px;
    font-size: var(--table-font-size);
}
.func-container{
    /* display: flex; */
    display: grid;
    grid-template-columns: 2fr 9.5fr;
    align-items: center;
}
.calc-container{
    display: flex;
    margin-left: 10px;
}
.tithe pre{
    font-size: var(--table-font-size);
    margin: 0;
    display: inline-flex;
    align-items: center;
}
.tithe output{
    display: inline-flex;
    align-items: center;
    font-size: var(--table-font-size);
    min-width: 82.5px;
}
.transaction-list p{
    margin: 0.5em 0;
}
.transaction-list p:last-of-type{
    margin: 0;
}
.transaction-sum p{
    margin: 0;
}
.paid-percentage-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80px;
    height: 80px;
    border: 1px dashed gray;
    border-radius: 50%;
}
.tithe hr{
    width: 1px;
    border: none;
    margin: 0 1rem;
    background-color: gray;
}
.tithe h3{
    margin: 0;
}
@media only screen and (max-width: 467.98px){
    .work-log-list-container{
        margin: 0 -16px;
    }
}