@import "worklogview.css";
:root{
    --border-color-primary:  rgba(0, 0, 0, .1);
    --table-font-size: 12px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open sans', sans-serif;
    margin: 0;
    padding: 0;
    
}
.layout-chasis{
    display: flex;
    flex-direction: row;
    position: relative;
  }
main{
    width: 100%;
    padding: 12px 30px 30px;
    margin-left: 195.42px;
    min-height: 100%;
}
a{
    text-decoration: none;
}
.d-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    margin-top: calc(1em - 12px);
    color: grey;
}
h4{
    color: grey;
}
table{
    border: 1px solid rgb(238, 238, 238);
    border-bottom: none;
    border-collapse: collapse;
    width: 100%;
}
tbody tr{
    /* height: 44px; */
    border: none;
    border-bottom: 1px solid rgb(238, 238, 238)
}
td{
    /* border: 1px solid rgb(238, 238, 238); */
    padding: 8px 10px;
}
.work-time{
    color: rgba(128, 128, 128, 0.5);
}
.greyed{
    background-color: #f4f4f6;
}
.cancelled{
    background-color: rgba(255, 0, 0, 0.25);
}
.success{
    background-color: rgba(0, 128, 0, 0.25);
}
.premium{
    background-color: goldenrod;
}
.underlined{
    text-decoration: underline dashed;
}
.reminder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}
caption{
    text-align: left;
}
.today{
    background-color: grey;
    padding: 7px 4px;
}
.recurring{
    color: red;
}
.paid{
    color: #390;
}
.unpaid{
    color: rgb(238, 238, 238);
}
.work-log{
    /* padding-top:38.67px; */
}
.work-log thead tr{
    background-color: rgba(32,33,36,0.049);
}
.work-log tr:not(thead tr):hover{
    /* background-color: #dedede; */
}
.work-log th, .work-log td{
    border: none;
}
.work-log tr:nth-of-type(even){
    /* background-color: #efefef; */
 
}
.work-logo{
    height: 22px;
}
.work-logo_image-container{
    height: 100%;
    display: flex;
    align-items: center;
}
.work-places-list{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.work-places-list li{
    background-color: #eee;
    padding: 10px 12px;
}

/* Responsiveness */

@media only screen and (max-width: 467.98px){
    .top-nav{
        padding: 5px 16px;
    }
    .top-nav div.title-box{
        margin-right: 0;
    }
    nav{
        display: none;
    }
    .side-nav{
        display: none;
    }
    main{
        padding: 12px 16px 16px 16px;
        margin-left: 0;
    }
    .responsive-toggle{
        display: none;
    }
}